---
import { getCollection } from "astro:content";
import DefaultLayout from "../layout/default-layout.astro";

const blogData = await getCollection("blog");
---

<DefaultLayout>
  <div class="header">
    <h4>Website index</h4>
  </div>

  <div class="content">
    {
      blogData?.map((blog) => {
        return <a href={blog?.id?.replace("lmg/", "")}>{blog?.id}</a>;
      })
    }
  </div>

  <style>
    .content {
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  </style>
</DefaultLayout>
